<!-- Inside app/views/main/index.html.erb-->
<div data-controller="test">
  <button data-action="test#updateName" type="button" class="btn btn-primary">Primary Button<i class="fas fa-fist-raised ml-1"></i></button>
  <h1 data-target="test.foo"></h1>
</div>
